[submodule "AlexaZork"]
	path = src/js/AlexaZork
	url = https://github.com/mathom/AlexaZork.git
[submodule "zork"]
	path = src/js/zork
	url = https://github.com/adrianbg/zork.git
[submodule "CLAPACK-WA"]
	path = tools/CLAPACK-WA
	url = https://github.com/adrianbg/CLAPACK-WA.git
